{
  "presets": [
    ["@babel/preset-env", {
      "loose": false,
      "modules": "commonjs",
      "spec": true,
      "targets": {
        "browsers": [
          "> 1%",
          "last 3 Chrome versions",
          "last 3 Firefox versions",
          "Safari >= 10",
          "Explorer >= 11",
          "Edge >= 12",
          "iOS >= 10",
          "Android >= 6"
        ]
      },
      "useBuiltIns": "usage",
      "debug": false
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-property-mutators",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
